@media (max-width: 988px) and (min-width: 100px) {
  body {
    display: block;
  }
  :root {
    --color: #000;
    --colorblue: #0090e1;
    --colororange: #e4b02c;
    --colorwhite: #fff;
    --colorhover: #e9f3ff;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --bodyColor:#E4E9F7;
    --sidebarColor:#fff;
  }
  .sidebar {
    display:none; /* Hide sidebar by default on mobile devices */
}

.home {
    left: 0; /* Reset left position for mobile view */
    width: 100%; /* Reset width for mobile view */
}

.sidebar.close ~ .home {
    left: 0; /* Adjust home section left position for mobile view */
    width: 100%; /* Adjust home section width for mobile view */
}


/* Adjust home section for closed sidebar */
.sidebar.close ~ .home {
left: 88px;
width: calc(100% - 88px);
}


.home-text {
padding-top: 35vh;
}

.home-text h1 {
font-size: 4rem;
font-weight: bolder;
}

.home-text-span {
color: var(--colorblue);
}

.home-text p {
font-size: 1rem;
}
.hide{
  display:block;
}

.sidebar-toggle{
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  padding:5px 10px;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 1 !important;
  
}
.sidebar-toggle i{
  font-size: 30px;
  color: var(--color);
}

}