/* @media(max-width:1148px) and (min-width:920px){
    body{
        display: none;
    }
} */

@media(max-width:400px) and (min-width:100px){
  /* nav */
  .nav-text1 {
    margin-left: 10px;
    margin-top: 97px;
}
  .banner-container{
    text-align: left;
    padding: 0px 5px;
  }
  .banner-section {
    color: var(--color);
    text-align: center;
    background-color: linear-gradient(90deg, var(--blue), var(--pink));
    padding-top: 20vh;
}
  .banner-container h1{
font-size: 28px;
  }
  br{
    display: none;
  }
  .banner-btn {
    display: flex;
    gap: 20px;
   justify-content:left; 
}
.main-section2 {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(90deg, var(--blue), var(--pink1));
  margin-top: 400px;
  position: relative;
}
.main-section2-content-bg {
  width: 80%;
  height: 145vh;
  background: #0e0f25;
  position: absolute;
  bottom: 80px;
  border-radius: 10px;
}




.main-service-bg {
    width: 80%;
    height: 202vh;
    background-image: linear-gradient(90deg, var(--blue), var(--pink1));
    border-radius: 30px;
}

/* service */
.cards-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 192px;
  margin-top: 30px;
}
.service-text {
  text-align: left;
  padding: 0px 5px;
}
.card-ser {
    width: 384px;
    height: 150px;
    background: var(--lightbg);
    border-top: 2px solid var(--pink);
    border-radius: 10px;
}
.service-text h1 {
  font-size: 35px;
}
}
@media(max-width:600px) and (min-width:400px){
  /* nav */
  .nav-text1 {
    margin-left: 10px;
    margin-top: 97px;
}
  .banner-container{
    text-align: left;
    padding: 0px 5px;
  }
  .banner-container h1{
font-size: 28px;
  }
  br{
    display: none;
  }
  .main-section2 {
    width: 100%;
    height: 123vh;
    background-image: linear-gradient(90deg, var(--blue), var(--pink1));
    margin-top: 338px;
    position: relative;
}
.main-section2-content-bg {
  width: 80%;
  height: 129vh;
  background: #0e0f25;
  position: absolute;
  bottom: 80px;
  border-radius: 10px;
}
.main-service-bg {
  width: 80%;
  height: 202vh;
  background-image: linear-gradient(90deg, var(--blue), var(--pink1));
  border-radius: 30px;
}
/* service */
.cards-service {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 192px;
  margin-top: 30px;
}
.service-text {
  text-align: left;
  padding: 0px 5px;
}

.card-ser {
    width: 384px;
    height: 150px;
    background: var(--lightbg);
    border-top: 2px solid var(--pink);
    border-radius: 10px;
}

.service-text h1 {
    font-size: 35px;
}
}
@media (max-width: 920px) {
  :root {
    --bg: #030415;
    --color: #fff;
    --pink: #F407FE;
    --blue: #04a5f6;
    --boder: none;
    --boder-radius: 7px;
}
    
  .nav-container{
    width:100%;
    height:40px;
    position: fixed;
    border-bottom: 1px solid var(--color);
}
  .nav-content{
    display:flex;
    gap:0px;
    justify-content:space-between;
    padding: 10px 20px;
}
/* .menu-toggle {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
} */

.bar {
  width: 60%;
  height: 4px;
  background-color:var(--color);
  margin: 0px 0px !important;
  transition: 0.4s;
}
.nav-text{
  display: none;
}
.none{
  display:block !important;
}
  }
  @media(max-width:1256px){
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 230px; */
    }
}